


#current{
    color:red;
    border-bottom: 1px solid;
    
}



 /*RWD*/

 .containerr{
    width: 1000px;
    margin:auto;
}





/*about-us*/

.about-us{
    min-height:400px;
    background-color: #e6e6e6;
    padding-top:10px;
    padding-bottom: 10px;
}



.about-us h3{
 text-transform: uppercase;       
margin-left: 20px;
padding: 20px;
margin-top: 5%;

}

.about-us p{
    /* text-transform: uppercase; */
        margin-top:5px ;
        margin-bottom: 10px;
        font-weight:200px;
        font-size:18px;
        margin-left:1%;
        padding: 10px;
        width: 70%;
}

/* .branding{ */
    /* background:#35424a;
    color:#e6e6e6;
    width:50%;
    font-weight: 500px;
    padding-top:10px;
    padding-bottom: 10%;
} */





    .about-us img{
    width:300px;
    margin-left:12%;
    margin-top:1%;
    }













/*contact*/


.contact{
    
    min-height: 200px;
    background-color:rgba(0,0,0,0.2);
    padding-top:10px;
    padding-bottom: 10px;
    

}


.contact h3{
text-transform: uppercase;
font-weight: bold;
font-size: 20px;
padding: 10px; 

}


.contact p{

    font-size: 15px;
    font-weight: 300px;
    padding: 10px;
    margin-top: 20px;
        
}



/* .branding{
margin-left: 100px;
padding-top: 10px;
padding-bottom: 10px;
margin-top: 40px;
} */




footer  {
    padding:20px;
    text-align:center;
    color:white;
    background-color: red;
    font-weight:bold;
    
   }










   @media(max-width:600px) and (orientation:landscape){
    .containerr {
        width:80%; 
        margin:auto;
    }
}

@media(max-width:600px) and (orientation:portrait){
    .containerr{
        width:80%; 
        margin:auto;
    }


    .about-us h3{
        text-align: center;
        text-transform: uppercase;       
       margin-left: 20px;
       padding: 20px;
       margin-top: 20%;
       
       }



       .about-us p{
        /* text-transform: uppercase; */
            margin-top:-10px ;
            margin-bottom: 10px;
            font-weight:200px;
            font-size:18px;
            margin-left:1%;
            padding: 10px;
            width: 100%;
    }



    .about-us img{
        width:300px;
        margin-left:3%;
        margin-top:1%;
        }




        .contact h3{
            text-align: center;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 20px;
            padding: 10px; 
            
            }
            
    
       
    








}

@media(min-width:601px) and (max-width:768px){
    .containerr {
        width:80%; 
        margin:auto;
    }
}

